* {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-size: 64px;
}

.inputs {
  font-size: 32px;
}

.inputs input {
  margin-bottom: 32px;
  margin-top: 16px;
}

input {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px 15px;
  background: white;
  font-size: 24px;
  text-align: left;
  -moz-appearance: textfield;
  margin: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  height: 90px;
  width: 120px;
  background: green;
  color: white;
  font-size: 32px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.05s ease-in;
}

button:hover {
  background: darkgreen;
}

button:active {
  transform: scale(0.95);
}

#output {
  margin-top: 32px;
  background: white;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  justify-content: space-around;
}

#output p {
  background: white;
}
